# playlist_df 생성

In [1]:
import pandas as pd
from modules.generateModules import GeneratePlaylistsTable as gpt

channel_name_list=['성시경 SUNG SI KYUNG','떡볶퀸 Tteokbokqueen','지뉼랭가이드','정육왕 MeatCreator',
                   '김사원세끼','회사랑RawFishEater','김짬뽕','조이한끼','잡식공룡',
                   '섬마을훈태TV','맛있겠다 Yummy','먹보스 쭈엽이','먹갱_Mukgang'
                   ]
playlist_name_list=[['성시경의 먹을텐데'],['떡볶퀸 식당','떡볶이 투어 서울 (In Seoul)'],['서울 3대 맛집','인생 찐 맛집','떡볶이 맛집'],['돼지고기 맛집','양고기 맛집','정육왕 레스토랑 맛집','돈까스 맛집','인생맛집'],
                    ['[서울맛집] 외식인생 10년차의 서울 숨은 맛집 소개'],['서울 편 몰아보기'],'','','',
                    ['섬마을훈태 서울'],['서울(Seoul)'],['먹어주엽'],['💜맛있는 야외먹방💜']
                    ]

#1이면 video, 0이면 shorts
is_video_list=[1,1,1,1,
               1,1,0,0,0,
               1,1,1,1]

playlist_df = gpt.input_table(channel_name_list,playlist_name_list,is_video_list)

돼지고기 맛집
playlist_id error

playlists 를 csv로 저장

In [2]:
playlist_df.to_csv("./resources/playlists.csv")

In [10]:
import pandas as pd
playlists_df=pd.read_csv("./resources/playlists.csv",index_col=None)

In [11]:
playlists_df

,playlist_id,channel_id,playlist_name,is_video
0,PLuMuHAJh9g_Py_PSm8gmHdlcil6CQ9QCM,UCl23-Cci_SMqyGXE1T_LYUg,성시경의 먹을텐데,True
1,UUOigo4Yr762NyStWZXpkVbw,UCOigo4Yr762NyStWZXpkVbw,shorts,False
2,PLXESWAdA56xPhqmL5kngzrkmFXEx0Du1v,UCAoyR-sL6B0S93AMR-HVTvg,떡볶퀸 식당,True
3,PLXESWAdA56xPA4OMrehiLX6kxf78zcl7x,UCAoyR-sL6B0S93AMR-HVTvg,떡볶이 투어 서울 (In Seoul),True
4,PLQfA8RCCsa8Fc-zWrUhzCEBDRAv95wk9c,UC50ac0_x8ZDoCSEpNV0p3-Q,서울 3대 맛집,True
5,PLQfA8RCCsa8ESsRE3Kw_s6GLU3WgLhrvE,UC50ac0_x8ZDoCSEpNV0p3-Q,인생 찐 맛집,True
6,PLQfA8RCCsa8GCzenYiZLMLyZQ3LV5RvhG,UC50ac0_x8ZDoCSEpNV0p3-Q,떡볶이 맛집,True
7,PLW0mcg-lUNoLXStuMLenVgGkG8Owp01Gj,UC1oXmhvYHVI2bApphh3IzuQ,양고기 맛집,True
8,PLW0mcg-lUNoI4MCs3kuvzauuTHmoKA6w-,UC1oXmhvYHVI2bApphh3IzuQ,정육왕 레스토랑 맛집,True
9,PLW0mcg-lUNoKfcCeiQbVDBSwCia0MEVds,UC1oXmhvYHVI2bApphh3IzuQ,돈까스 맛집,True
10,PLW0mcg-lUNoJa3wugdS8N83AFWqEM5ya1,UC1oXmhvYHVI2bApphh3IzuQ,인생맛집,True
11,PLCNYoGrzVJuUWTlwZ2CH9nfQF08959pIj,UC-x55HF1-IilhxZOzwJm7JA,[서울맛집] 외식인생 10년차의 서울 숨은 맛집 소개,True
12,PL5rXcHkSnrurV37AAiN40pK_6s0EV6h59,UCoLPofyAZuuq6v4EWrWRguw,서울 편 몰아보기,True
13,UU-OAmhcFgX9t_OF6fQ-4B1w,UC-OAmhcFgX9t_OF6fQ-4B1w,shorts,False
14,UUAKcAZDyYW0ReMxA4l5wQ2w,UCAKcAZDyYW0ReMxA4l5wQ2w,shorts,False
15,UUrI2RYBoPoar4wY3WsuX-oQ,UCrI2RYBoPoar4wY3WsuX-oQ,shorts,False
16,PL8MNkUitSaBx0dxpEggd3RORGZ8SS0CNW,UCkBoDzncl64EZ-Ggh4g5pCw,섬마을훈태 서울,True
17,PLTz7104yngSipKTF9S-Kd63oMIkqrUCe3,UCQA89gPDjJ-1M1o9bwdGF-g,서울(Seoul),True
18,PL-p-EO5iKqy5SmxQoi30s-eAn6YwOEW58,UCLwCHoQ9h7DPXvLwx5XwTQg,먹어주엽,True
19,PLy0EO_AuYYh8LA81b2326-5OhGHunY8yV,UCGOYrCwp_ks0b4f6XQwaS4Q,💜맛있는 야외먹방💜,True

# videos_df를 빅쿼리에 삽입코드 (초기데이터 만)

playlist당 채널명 리스트 생성 후 저장

In [3]:
from modules.generateModules import GenerateChannelNamePerPlaylist as gcnpp
import pandas as pd

#channel id in playlists change to channel names and stack list
playlists_df=pd.read_csv("./resources/playlists.csv",index_col=None)
channel_name_per_playlist_list = gcnpp.get_channel_name_per_playlist_list(playlists_df)
data={"channel_name_per_playlist_list": channel_name_per_playlist_list}
channel_name_per_playlist_list=pd.DataFrame(channel_name_per_playlist_list)
channel_name_per_playlist_list.to_csv("./resources/channel_name_per_playlist_list.csv")
print(channel_name_per_playlist_list)

AttributeError: 'list' object has no attribute 'to_csv'

하나의 플레이리스트에 대해서 영상 추출

In [8]:
from modules.videosModules import GenerateVideosTable as gvt
from modules.gbqModules import InputTable

import pandas as pd

playlists_df=pd.read_csv("./resources/playlists.csv",index_col=None)

#channel id in playlists change to channel names and stack list
#channel_name_per_playlist_list = gcnpp.get_channel_name_per_playlist_list(playlists_df)
channel_name_per_playlist_list = pd.read_csv("./resources/channel_name_per_playlist_list.csv",index_col=None)
channel_name_per_playlist_list = list(channel_name_per_playlist_list['0'])

playlist_id_list=list(playlists_df['playlist_id'])
channel_id_list=list(playlists_df['channel_id'])
is_video_list=list(playlists_df['is_video'])
channel_name_per_playlist_list

table_name = 'videos'
is_replace = 1 # 1이면 덮어쓰기 0이면 추가

start_channel_index = 0
end_channel_next_index = 3
is_test=1
for i in range(start_channel_index,end_channel_next_index):
    videos_df=gvt.return_videos_df(channel_name_per_playlist_list[i],playlist_id_list[i],int(is_video_list[i]),is_test)
    input_df = videos_df
    #처음 추출 아니면 append 형식으로 빅쿼리에 바로 적재
    print("--"+channel_name_per_playlist_list[i]+"--")
    if(i==0):
        is_replace=1
        InputTable.input_table(table_name,input_df,is_replace)
    else:
        is_replace=0
        InputTable.input_table(table_name,input_df,is_replace)

instance_cnt :  2

HttpError: <HttpError 403 when requesting https://youtube.googleapis.com/youtube/v3/videos?part=snippet%2C+statistics&id=UHembfdHJn8&key=AIzaSyDH8Pq7ddkmMJhA0kni5kBEe1UPBy31H70&alt=json returned "The request cannot be completed because you have exceeded your <a href="/youtube/v3/getting-started#quota">quota</a>.". Details: "[{'message': 'The request cannot be completed because you have exceeded your <a href="/youtube/v3/getting-started#quota">quota</a>.', 'domain': 'youtube.quota', 'reason': 'quotaExceeded'}]">

resturants_df에 쓰일 video아이디랑 restaurant이름 리스트 저장

In [2]:
print("dd ",2)

dd  2

# resturants_df, resturant_category_df 를 빅쿼리에 삽입코드

In [35]:
#restaurant_in_video_list=['영화루', '영화루중화분식수원만두', '코리안손짜장동천홍뽕누리', '도원판다웍리153', '동천홍', '상해루', '쌍흥원', '츠바오', '송일정 수타전문', '초마', '리153', '명장', '홍경원', '국제반점', '대하수산외식공간', '무탄', '교동짬뽕', 'PANDA WOK', '코리안손짜장', '김치찌개 수타짜장 천천맛집', '객찬', '의천각', '중화분식', '진미각', '도원', '영빈루', '홍태루', '안동장', '오구반점', '신길동 매운짬뽕', '브로한', '화룡각', '중화요리홍장군', '수원만두', '복무춘', '무한자금성', '장강', '백가원짬뽕', '이가원', '뽕누리', '웍하이', '도깨비반점', '부원', '챔피언돌판짜장', '교동짬뽕', '오누이손칼국수', '짜장집2900', '짜장집 2900', '권선생', '풍광쟈창챠이경기 안산시 단원구 예술대학로 17 중앙노블레스 3층 308호', '1945짬뽕', '쌍용각', '국제반점', '교동짬뽕 1986 금곡점', '중화짬뽕빵', '오대짬뽕', '옥류관', '덕취원', '짬뽕깡패 꼬짬', '벌터', '왕가동해장', '넘버1고기짬뽕', '짜마차이나', '짜마차이나', '미소짬뽕', '하오츠', '교동짬뽕 봉담점', '화붐신간짬뽕', '화붐신간짬뽕', '당수원가마솥순대국', '신짬뽕', '옛날짜장짬뽕', '24시수타신짬뽕', '옥선당', '이상적', '동천홍', '만금성', '황궁짬뽕점문점', '웨이닝', '신짬뽕', '화룡각', '사창반점', '신짬뽕', '짬뽕지존', '더 차이니즈', '예빈', '하오츠', '황금성', '웍하이', '왕가동해장', '쉐프가수 최영현의 취팔러마', '쉐프가수 최영현의 취팔러마', '송죽장', '풍광쟈창챠이']
#video_id_restaurant_list=['MLuEwM-enB8', 'IqUpgC4cTqY', 'A-edzuDDrR8', 'O6IqT4IwyM4', 's7tnE8StrX0', '4I7KWWppUow', 'eRUY-WyWu2U', '64jjPjoKgng', 'qQwQCRqe19g', 'DPTPhxLMHj8', 'rqDRTUV2_Zs', 'GZIYIMEv-TM', 'A_D9O0mRMYc', 'olfRqNXB49c', 'rg1VUS5nW2I', 'j2z-5MGCEXM', '4irwg7HiQ-Y', '6bZikxdXr4k', 'FnxIdNKmhL0', 'XspqJ5pjE6o', 'QdacFhe2rqQ', 'fLXsxS-UKX4', 'l4iKBN-oL-M', '1_jMjO4OTpI', 'TLoIPtTdIwY', '0ClHpLkY2Vk', '3wY_70PnHjM', 'avvhG62-6lE', 'eFSrU3vVVe4', 'CqK9RRqpxkE', 'U-gka0hZakY', 'AXxUJcq2Sec', 'vtQ-6t0gEyY', 'VStcV-kaUA0', 'jwZmgRh6eRE', 'Fy0174V-H7w', 'ozVx-SH_s4o', 's68jHJ01SnQ', 'JDnZAsev6dA', 'UZkhnCCMbs4', '5Ivumukqi7g', 'bVZGpkbyruM', 'hU_AAZMAteQ', 'CV1S7Wo52zo', 'TFIC1wyX-_Y', '3VBvxrXhqCQ', 'a92PUHtYlnQ', 'farCFdoOe7M', 'XRmqr6klJek', 'ZAdlypJXP5Q', 'r4tXT3Xqn58', '_JGMfcRP22k', 'PIsbCX0t5Lc', '45a0kI1Nd4U', '6pQ73up5lio', '-QYU322IOqU', 'LCYCIHdkOp4', '9gt4Bs85gO8', '5lXbBlKAGsg', 'DYEn4JHbACY', '3POT7XvYb6s', 'bwp88Cmjabg', 'z4urL3wbgEs', 'GSrnxY07wLE', 'yTiRMOyW8Ks', 'fGFSS67NegE', 'e-Iq9XGRW1Y', '3T4fMd8NOIM', '9Vd74fBxLBU', '_c3b6SuS8sE', 'q0hhOQUlZ7o', 'X-Q8-rcMxDk', 'VqbKztFH6w8', '4Cw4dDFdmec', 'f7fcY_og_po', 'DnI-9S4ON6w', 'UxCTKB3c0_Y', 'EKGAib2mcaY', 'CWo8a6y8hoU', '8JHn41IvEeg', 'gnSIStVIm-U', 'PFLUxjmvNvg', 'TPDyxPN0fVs', 'ygQbUQxwRnU', 'InNGN47SSdw', 'GfX06GUMpMo', '3cLfswnv-Q8', 'qHzhouS3GYU', 'PLsYeBjenjw', 'vJJT3ovWtko', '3_llJ-z-Ez8', 'u_MoeVLbPxk', 'BhC01rabHFc', 'b41IYiqTPs4']

In [2]:
video_id_restaurant_list=gvt.video_id_restaurant_list
restaurant_in_video_list=gvt.restaurant_in_video_list
print(restaurant_in_video_list)
print(video_id_restaurant_list)

['묵호회집', '안동집김제식당', '남원통닭 별관', '별미순대국', '월드양념통닭', '원조신촌설렁탕', '와일드버팔로', '와일드버팔로', '진미식당', '딸랏', '삼호짱뚱이', '삼호짱뚱이', '오띠젤리', '야래향', '진영면옥', '원조추어탕', '이가네가마솥설렁탕', '미남옥', '금천문&오향족발', '진미식당홍탁 목포집신촌 즉석 생우동', '농부와닭동네 여의도MBC점', '옛날칼국수', '홍명', '홍명', '이조순대국', '해남순대국', '춘향미엔 왕십리점', '한옥정', '四季煲坊', '함흥면옥 압구정점', '우미26', '남영돈', '주은감자탕', '바바라스키친', '서부감자국', '주막', '주막', '영동장어', '대운식당', '첼시스하이볼 청담점', '진미평양냉면', '왕스덕 논현점', '약수동 춘천막국수', '발산한우진곱창', '연남동 편의방', '강남 진해장', '부자피자', '서대문 양꼬치', '동강나루터', '이남장 삼성점', '부흥 왕 족발', '미소의 집', '신림정', '신림정', '신림정', '진미언양불고기', '군위식당', '명동 산동교자', '참조은 생고기', '태화장', '태화장', '신촌즉석생우동', '녹동뻘낙지', '스시스미레', '을지칼국수', '만포막국수', '영미오리탕', '일광쪽갈비', '청실 홍실', '코치', '넘버원양꼬치', '시골집', '샤오롱바오', '현대순대국', '성천막국수 논현점', '서이 축산', '완도 전복', '영동 설렁탕', '필동면옥', '서린낙지', '반구정나루터집', '방화동 교동짬뽕', '맛 좋은 순대국', '히말라야 어죽', '버거스낵', '우정', '가연', '육개옥', '소문난성수감자탕', '부영각', '이태원숯불구이', '안동국시', '경원식당', '서울중앙시장옥경이네 건생선산전영미식당', '신미식당', '화목순대국', '약수순대', '어머니 대성집', '대성집', '리뷰영상', '신상리뷰', '노가리칩', '몽갈비', '리뷰영상', '우마이도', '애정마라샹궈', '보물섬', '먹거리집', '토스트', '구독자이벤트', '차이들', 'MZ', 'streetfood', '롯데리아', 'CGV', '육미안', '중경소면관', '도식화shorts', 'Shorts', 'Shorts', 'Shorts', 'Shorts', 'Shorts', 'Shorts', 'Shorts', 'Shorts']
['n5Zpld_kH0o', '6T7fWf5EA0s', 'jhAV4lWMlm8', 'UipN-iww9FE', 'EMEROo6ZX6E', 'XO-UqGjZomc', 'wJL-V0MCgJ8', 'yz_PDMZQqF8', 'Pj61du5bEiY', 'rTHlGX3-obY', '9XLtqkJt1wY', 'BruwoWzx3vA', '1ms4Gaqvbx8', 'yI88OaPRMhA', 'u4WD7bWkMus', 'HZrFCIt3oYY', '4zBBUw-VDnU', 'z5nqim1xRyE', 'xE1gqk1Q3uA', 'Nz0jI_Lck0U', 'm5QDgJ3zWsY', 'oCVgwsJbFpk', 'fyMdXrBmXOo', 'zCYgokuaenY', 'Q9p4sWtOkec', 'W-W42TwYUGw', 'kHpd-p6y1x0', 'nhZOWlhBDms', 'fp0SO6MUFyk', 'KD_5o8xsn_c', 'XcNDK6NAwIM', '0b2vSvwVra8', 'Kt1kbC2KBN4', 'hVbs-5rv0Fw', 'KujD94niMrI', 'qs5ze9IhkDE', '3tc3F4M607s', 'B5rp9kCcqmw', 'WE8M1jVA9QM', 'XJywuH-AAf8', 'H_Aw-akvQPQ', '-e6zzDqCS6E', 'XvmK69zZJOo', 'Xz1QAlQGz5s', 'fk_BFKQ3UI8', 'u4Ci7OW5ES0', 'U5WHtm6Yhj0', 'OHPgGihCSZQ', 'AxYI-p5wzYw', 'YJpv-lwKPNg', 'lO1qFusLkTQ', 'b3-Bf1JRscM', '8sseq7MuLjY', '0Ml02Bgo8VQ', 'yTNgSj_0zIM', 'MvX_vWtm8P0', 'KEeGBUHnJsc', 'AmZ5ceHhkG8', '8KZrrZWoRDc', 'H78NvlNeSGk', 'S3EsbtdFe_g', 'M06R491YFF4', 'C38dKDRH10U', '6vxReM3m_Tg', '1Q-_xTROMkE', '7ICHM1GSgtc', 'vvGnYVFWrMc', 'nUj86InQ6dM', '3rWCk9M9MQY', '77dousCT2Fs', 'JROht0PS8FA', 'KJSKPIrDcSw', '13JU5821Xd0', 'AeZaYlJBWuI', 'V0QUgTpLTwo', 'LQOYruD7sek', 'ZKOYAQXVhaA', 'fR2z8JyBb44', 'EnMwZlMLPWY', 'YfEY2fPIw8s', '0TaXOZFxmn4', 'l4bgfC2WlUY', 'P6sEVRj87gQ', 'mfOg_DvzijY', 'bkdYYIBe0PM', 'vzq1jF3sRtY', 'pGNZyAYzvD4', 'aliPr4O2T5s', 'MAIrp4WYAx4', 'iPVLZhuog-g', 'qfRHMGywHVQ', 'AHPEiQSyezo', 's1ToTcCXgy0', 'QakFqXFK2Xs', 'a4IFiQUf3D4', 'DpGJEDKsf1o', 'p52CSWUXQMk', '28pXe1a9yrA', 'wu1fOmsPEr8', 'TwId0pXJpqs', 'fh2CwlgCrK4', 'f930_l5ZvKM', 'wsQXDJK6--o', 'b2oxT1OPv_M', 'TzNn_8MXKxQ', 'G938rREhLiY', 'r0X8oEDekzQ', 'bwq6I54kaf0', 'jSSUSd3WWaU', 'Bc_BhCMxRGU', 'U_F9OLrDgLw', 'MDd6zbeyn0w', 'yo3Krx6glUE', 'vQZ1vnv_rC4', 'r4RDAqdZ1g8', 'nBs913Dy_vY', 'GB3llDuo4tY', 'vck3-VprVU4', 'KB4xmMrOuu0', 'rv3XBO_FSOg', 'mo0NHgt1Y84', 'ieYgi6IWEfQ', 'aNHPm_56VNA', 'Q__8rI_q_Fs', 'jvRr-mreTV4', 'NEM6Xe2DFgI']

### restaurant_video_df

In [5]:
from modules.gbqModules import InputTable
from modules.generateModules import GenerateRestaurantVideoTable as grvt
import pandas as pd

video_id_restaurant_list
restaurant_in_video_list
data={'link_id': None, 'video_id': video_id_restaurant_list, 'restaurant_name':restaurant_in_video_list}
restaurant_video_df=pd.DataFrame(data)

#restaurant_video_df = grvt.get_restaurant_video_df(video_id_restaurant_list,restaurant_in_video_list)

table_name='restaurant_video'
input_df=restaurant_video_df
is_replace=1;
InputTable.input_table(table_name,input_df,is_replace)

100%|██████████| 1/1 [00:00<?, ?it/s]

replace ok

### resturants_df

In [8]:
from modules.restaurantsModules import GenerateResturantsTable as grt

grt.generate_restaurants_df(restaurant_in_video_list)
restaurants_df=grt.return_restaurants_df()
restaurant_category_df=grt.return_restaurant_category_df()

c:\Users\q5749\youtube_api_practice\modules\restaurantsModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\restaurantsModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\restaurantsModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\restaurantsModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\restaurantsModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\restaurantsModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\restaurantsModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list

In [6]:
restaurants_df

NameError: name 'restaurants_df' is not defined

In [9]:
from modules.gbqModules import InputTable

table_name='restaurants'
input_df=restaurants_df
is_replace=1;

InputTable.input_table(table_name,input_df,is_replace)

100%|██████████| 1/1 [00:00<?, ?it/s]

### restaurant_category_df

In [10]:
df=restaurant_category_df
df

   restaurant_name         category
0              이상적         음식점 > 중식
1            도깨비반점  음식점 > 중식 > 중국요리
2              황금성  음식점 > 중식 > 중국요리
3        PANDA WOK  음식점 > 중식 > 중국요리
4    교동짬뽕 1986 금곡점         음식점 > 중식
..             ...              ...
78           백가원짬뽕  음식점 > 중식 > 중국요리
79             홍경원  음식점 > 중식 > 중국요리
80             송죽장  음식점 > 중식 > 중국요리
81           무한자금성  음식점 > 중식 > 중국요리
82             옥선당  음식점 > 중식 > 중국요리

[83 rows x 2 columns]

In [11]:

# "category" 열을 " > "를 기준으로 분할하여 새로운 행 생성
df['category'] = df['category'].str.split(' > ')
df = df.explode('category').reset_index(drop=True)
df
data={'link_id': None, 'restaurant_name':list(df['restaurant_name']),'category':list(df['category'])}
newdf=pd.DataFrame(data);
newdf

    link_id restaurant_name category
0      None             이상적      음식점
1      None             이상적       중식
2      None           도깨비반점      음식점
3      None           도깨비반점       중식
4      None           도깨비반점     중국요리
..      ...             ...      ...
219    None           무한자금성       중식
220    None           무한자금성     중국요리
221    None             옥선당      음식점
222    None             옥선당       중식
223    None             옥선당     중국요리

[224 rows x 3 columns]

In [13]:
from modules.gbqModules import InputTable

table_name='restaurant_category'
input_df=newdf
is_replace=1;

InputTable.input_table(table_name,input_df,is_replace)

100%|██████████| 1/1 [00:00<?, ?it/s]