# playlist_df 생성

In [1]:
import pandas as pd
from modules.generateModules import GeneratePlaylistsTable as gpt

channel_name_list=['성시경 SUNG SI KYUNG','떡볶퀸 Tteokbokqueen','지뉼랭가이드','정육왕 MeatCreator',
                   '김사원세끼','회사랑RawFishEater','김짬뽕','조이한끼','잡식공룡',
                   '섬마을훈태TV','맛있겠다 Yummy','먹보스 쭈엽이','먹갱_Mukgang'
                   ]
playlist_name_list=[['성시경의 먹을텐데'],['떡볶퀸 식당','떡볶이 투어 서울 (In Seoul)'],['서울 3대 맛집','인생 찐 맛집','떡볶이 맛집'],['돼지고기 맛집','양고기 맛집','정육왕 레스토랑 맛집','돈까스 맛집','인생맛집'],
                    ['[서울맛집] 외식인생 10년차의 서울 숨은 맛집 소개'],['서울 편 몰아보기'],'','','',
                    ['섬마을훈태 서울'],['서울(Seoul)'],['먹어주엽'],['💜맛있는 야외먹방💜']
                    ]

#1이면 video, 0이면 shorts
is_video_list=[1,1,1,1,
               1,1,0,0,0,
               1,1,1,1]

playlist_df = gpt.input_table(channel_name_list,playlist_name_list,is_video_list)

돼지고기 맛집
playlist_id error

playlists 를 csv로 저장

In [2]:
playlist_df.to_csv("./resources/playlists.csv")

In [10]:
import pandas as pd
playlists_df=pd.read_csv("./resources/playlists.csv",index_col=None)

In [11]:
playlists_df

,playlist_id,channel_id,playlist_name,is_video
0,PLuMuHAJh9g_Py_PSm8gmHdlcil6CQ9QCM,UCl23-Cci_SMqyGXE1T_LYUg,성시경의 먹을텐데,True
1,UUOigo4Yr762NyStWZXpkVbw,UCOigo4Yr762NyStWZXpkVbw,shorts,False
2,PLXESWAdA56xPhqmL5kngzrkmFXEx0Du1v,UCAoyR-sL6B0S93AMR-HVTvg,떡볶퀸 식당,True
3,PLXESWAdA56xPA4OMrehiLX6kxf78zcl7x,UCAoyR-sL6B0S93AMR-HVTvg,떡볶이 투어 서울 (In Seoul),True
4,PLQfA8RCCsa8Fc-zWrUhzCEBDRAv95wk9c,UC50ac0_x8ZDoCSEpNV0p3-Q,서울 3대 맛집,True
5,PLQfA8RCCsa8ESsRE3Kw_s6GLU3WgLhrvE,UC50ac0_x8ZDoCSEpNV0p3-Q,인생 찐 맛집,True
6,PLQfA8RCCsa8GCzenYiZLMLyZQ3LV5RvhG,UC50ac0_x8ZDoCSEpNV0p3-Q,떡볶이 맛집,True
7,PLW0mcg-lUNoLXStuMLenVgGkG8Owp01Gj,UC1oXmhvYHVI2bApphh3IzuQ,양고기 맛집,True
8,PLW0mcg-lUNoI4MCs3kuvzauuTHmoKA6w-,UC1oXmhvYHVI2bApphh3IzuQ,정육왕 레스토랑 맛집,True
9,PLW0mcg-lUNoKfcCeiQbVDBSwCia0MEVds,UC1oXmhvYHVI2bApphh3IzuQ,돈까스 맛집,True
10,PLW0mcg-lUNoJa3wugdS8N83AFWqEM5ya1,UC1oXmhvYHVI2bApphh3IzuQ,인생맛집,True
11,PLCNYoGrzVJuUWTlwZ2CH9nfQF08959pIj,UC-x55HF1-IilhxZOzwJm7JA,[서울맛집] 외식인생 10년차의 서울 숨은 맛집 소개,True
12,PL5rXcHkSnrurV37AAiN40pK_6s0EV6h59,UCoLPofyAZuuq6v4EWrWRguw,서울 편 몰아보기,True
13,UU-OAmhcFgX9t_OF6fQ-4B1w,UC-OAmhcFgX9t_OF6fQ-4B1w,shorts,False
14,UUAKcAZDyYW0ReMxA4l5wQ2w,UCAKcAZDyYW0ReMxA4l5wQ2w,shorts,False
15,UUrI2RYBoPoar4wY3WsuX-oQ,UCrI2RYBoPoar4wY3WsuX-oQ,shorts,False
16,PL8MNkUitSaBx0dxpEggd3RORGZ8SS0CNW,UCkBoDzncl64EZ-Ggh4g5pCw,섬마을훈태 서울,True
17,PLTz7104yngSipKTF9S-Kd63oMIkqrUCe3,UCQA89gPDjJ-1M1o9bwdGF-g,서울(Seoul),True
18,PL-p-EO5iKqy5SmxQoi30s-eAn6YwOEW58,UCLwCHoQ9h7DPXvLwx5XwTQg,먹어주엽,True
19,PLy0EO_AuYYh8LA81b2326-5OhGHunY8yV,UCGOYrCwp_ks0b4f6XQwaS4Q,💜맛있는 야외먹방💜,True

# videos_df를 빅쿼리에 삽입코드 (초기데이터 만)

playlist당 채널명 리스트 생성 후 저장

In [3]:
from modules.generateModules import GenerateChannelNamePerPlaylist as gcnpp
import pandas as pd

#channel id in playlists change to channel names and stack list
playlists_df=pd.read_csv("./resources/playlists.csv",index_col=None)
channel_name_per_playlist_list = gcnpp.get_channel_name_per_playlist_list(playlists_df)
data={"channel_name_per_playlist_list": channel_name_per_playlist_list}
channel_name_per_playlist_list=pd.DataFrame(channel_name_per_playlist_list)
channel_name_per_playlist_list.to_csv("./resources/channel_name_per_playlist_list.csv")
print(channel_name_per_playlist_list)

AttributeError: 'list' object has no attribute 'to_csv'

하나의 플레이리스트에 대해서 영상 추출

In [11]:
from modules.generateModules import GenerateVideosTable as gvt
from modules.gbqModules import InputTable

import pandas as pd

playlists_df=pd.read_csv("./resources/playlists.csv",index_col=None)

#channel id in playlists change to channel names and stack list
#channel_name_per_playlist_list = gcnpp.get_channel_name_per_playlist_list(playlists_df)
channel_name_per_playlist_list = pd.read_csv("./resources/channel_name_per_playlist_list.csv",index_col=None)
channel_name_per_playlist_list = list(channel_name_per_playlist_list['0'])

playlist_id_list=list(playlists_df['playlist_id'])
channel_id_list=list(playlists_df['channel_id'])
is_video_list=list(playlists_df['is_video'])
channel_name_per_playlist_list

table_name = 'videos'
is_replace = 1 # 1이면 덮어쓰기 0이면 추가

start_channel_index = 12
end_channel_next_index = 19
#2023-11-04 range(0,6) 완료
is_test=0
for i in range(start_channel_index,end_channel_next_index):
    videos_df=gvt.return_videos_df(channel_name_per_playlist_list[i],playlist_id_list[i],int(is_video_list[i]),is_test)
    input_df = videos_df
    #처음 추출 아니면 append 형식으로 빅쿼리에 바로 적재
    print("--"+channel_name_per_playlist_list[i]+"--")
    if(i==0): #첫번째로 등록되는 성시경말고는 다 누적으로 빅쿼리에 넣기
        is_replace=1
        InputTable.input_table(table_name,input_df,is_replace)
    else:
        is_replace=0
        InputTable.input_table(table_name,input_df,is_replace)

instance_cnt :  130
--김짬뽕--

100%|██████████| 1/1 [00:00<?, ?it/s]

append ok
instance_cnt :  128
--조이한끼--

100%|██████████| 1/1 [00:00<?, ?it/s]

append ok
instance_cnt :  166
--잡식공룡--

100%|██████████| 1/1 [00:00<?, ?it/s]

append ok
instance_cnt :  50
--섬마을훈태TV--

100%|██████████| 1/1 [00:00<?, ?it/s]

append ok
instance_cnt :  50
--맛있겠다 Yummy--

100%|██████████| 1/1 [00:00<?, ?it/s]

append ok
instance_cnt :  50
--먹보스 쭈엽이--
append ok
instance_cnt :  50
--먹갱_Mukgang--

100%|██████████| 1/1 [00:00<?, ?it/s]

append ok

resturants_df에 쓰일 video아이디랑 restaurant이름 리스트 저장

# resturants_df, resturant_category_df 를 빅쿼리에 삽입코드

In [12]:
video_id_restaurant_list=gvt.video_id_restaurant_list
restaurant_in_video_list=gvt.restaurant_in_video_list
print(restaurant_in_video_list)
print(video_id_restaurant_list)

['청화집', '묵호회집', '주부리', '서신 분식', '과일떡볶이', '애플하우스', '진주회관', '진주집', '무탄', '양지분식', '닭내장집', '강가네 떡볶이', '박가네 빈대떡', '누이등심', '강가네 떡볶이', '양인환대', '양재 화야', '강남 청담동 엘픽 ', '압구정 카츠바이콘반', '헤키', '오산 청도생고기', '충주 불광식당', '청화집', '묵호회집', '안동집김제식당', '남원통닭 별관', '별미순대국', '월드양념통닭', '원조신촌설렁탕', '와일드버팔로', '와일드버팔로', '진미식당', '딸랏', '삼호짱뚱이', '삼호짱뚱이', '오띠젤리', '야래향', '진영면옥', '원조추어탕', '이가네가마솥설렁탕', '미남옥', '금천문&오향족발', '진미식당홍탁 목포집신촌 즉석 생우동', '농부와닭동네 여의도MBC점', '옛날칼국수', '홍명', '홍명', '이조순대국', '해남순대국', '춘향미엔 왕십리점', '한옥정', '四季煲坊', '함흥면옥 압구정점', '우미26', '남영돈', '주은감자탕', '바바라스키친', '서부감자국', '주막', '주막', '영동장어', '대운식당', '첼시스하이볼 청담점', '진미평양냉면', '왕스덕 논현점', '약수동 춘천막국수', '발산한우진곱창', '연남동 편의방', '강남 진해장', '부자피자', '서대문 양꼬치', '동강나루터', '이남장 삼성점', '부흥 왕 족발', '미소의 집', '신림정', '신림정', '신림정', '진미언양불고기', '군위식당', '명동 산동교자', '참조은 생고기', '태화장', '태화장', '신촌즉석생우동', '녹동뻘낙지', '스시스미레', '을지칼국수', '만포막국수', '영미오리탕', '일광쪽갈비', '청실 홍실', '코치', '넘버원양꼬치', '시골집', '샤오롱바오', '현대순대국', '성천막국수 논현점', '서이 축산', '완도 전복', '영동 설렁탕', '필동면옥', '서린낙지', '반구정나루터집', '방화동 교동짬뽕', '맛 좋은 순대국', '히말라야 어죽', '버거스낵', '우정', '가연', '육개옥', '소문난성수감자탕', '부영각', '이태원숯불구이', '안동국시', '경원식당', '서울중앙시장옥경이네 건생선산전영미식당', '신미식당', '화목순대국', '약수순대', '어머니 대성집', '대성집', '오마이떡볶이치킨', 'BGM', '주부리', '서신 분식', '과일떡볶이', '애플하우스', '정원분식', '면동떡볶이', '맑은샘', '부산어묵', '농부와닭동네 여의도MBC점', '고센인코퍼레이티드 청담점', '소문난 떡볶이', '빨간부산오뎅떡볶이', '우정', '빵사이에낀과일', '토보키', '로얄 멘션', '우주정복떡볶이', 'BGM', '선화슈퍼가맥', '만나 떡볶이', '테크노마트 신도림점', '임가네 김밥 떡볶이', '중계다리 포장마차', '진아분식', '제기동역 4번출구 포장마차', '홍대 조폭떡볶이', '시장떡볶이', '김밥천국 가오리역점', '육골당', '씨부엉', '이상한떡볶이집', '김만희떡볶이', '소구장', '두손', '할머니 즉석 떡볶이', 'RFB', '엄지척 떡볶이', 'RFB', '푸른하늘', '카우떡볶이', 'RFB', '잠원떡볶이', '광장시장', '콩이네분식', '신흥떡볶이', '서흥하이퍼마켓떡볶이', '부산어묵', 'RFM', '석관시장떡볶이', '떡산', '영 즉석떡볶이', '상냥한 눈빛의 떡볶이', '은마 상가', '덕자네방앗간', '다이천', 'BGM Storage', '미소의집', 'BGM Storage', '드림랜드', '이모네 김밥', 'BGM Storage', '아찌 떡볶이', '루비떡볶이', '달볶이', '송송당', '왕십리 깻잎떠뽀끼', '악어 떡볶이', '빙수야2', '사진 출처', '사진 출처', '모두랑', '따끈하니 쫄깃하니', '빙수야', '양푼왕', '바로그집', '코끼리 즉석 떡볶이', '중계 다리 떡볶이', '사발 떡볶이', '진이네 떡볶이', '주소', '노룬산 분식', '마피아 떡볶이', '삼양동순대떡볶이', '신토불이 떡볶이', '순금이 떡볶이', '은혜 즉석 떡볶이', 'DayDreamSound', '불난집', 'DayDreamSound', '홍이네 분식', 'DayDreamSound', '진미 떡볶이', 'DayDreamSound', 'DayDreamSound', '파란 하늘', 'DayDreamSound', 'DayDreamSound', '골목 떡볶이', 'DayDreamSound', '진짜 떡볶이', 'DayDreamSound', '보름', 'DayDreamSound', '골목에 골목', 'DayDreamSound', '고른 햇살', 'DayDreamSound', '영도 시장', 'DayDreamSound', '업체 정보', 'DayDreamSound', '업체 정보', 'DayDreamSound', '업체 정보', 'DayDreamSound', 'DayDreamSound', '업체 정보', 'DayDreamSound', '업체 정보', 'DayDreamSound', '업체 정보', 'DayDreamSound', '업체 정보', 'DayDreamSound', '뚝떡', '상냥한 눈빛의 떡볶이', '떡볶이맛집탐방', '길음역 옛날떡볶이', '기본 2인분, 라면, 쫄면, 당면, 순대, 어묵, 햄, 계란1개', '신토불이 떡볶이', '진주회관', '진주집', '무탄', '우래옥', '진미평양냉면', '박가네 빈대떡', '누이등심', '강가네 떡볶이', '명동교자', '혜화칼국수', '광화문미진', '유림면', '남대문야채호떡', '희락갈치', '남대문칼국수골목', '가메골손왕만두', '은호식당', '순흥옥', '문화옥', '부여집', '석교식당', '만나김밥', '손씨네중국집', '한일관', '역전회관', '광양불고기', '잼배옥', '이남장', '마포옥', '영춘옥', '하동관', '벽제갈비', '신당동 떡볶이 타운', '대구 삼겹살', '망원시장', '광장시장', '원조 숯불 닭불고기', '춘천 통나무집 닭갈비', '춘천 명종 닭갈비', '양지분식', '닭내장집', '영춘옥', '하동관', '벽제갈비', '원조국수집 ', '광장시장 ', '왕십리 곱창 거리', '대구 삼겹살', '양군 스시&참치', '뽀빠이 분식', '도드람 한마당', '아! 짜장', '강가네 떡볶이', '박가네 빈대떡', '누이등심', '강가네 떡볶이', '만나분식 (2021 오래가게 선정)', '신당동 떡볶이 타운', '뽀빠이 분식', '착한 초밥', '미림 분식', '양인환대', '츄라스코츄라스코', '양인환대 극진 ', '안양 운봉산장', '후르셰다사마르칸트', '수원 원시다자 세류 본점 ', '이치류 본점', '양재 화야', '강남 청담동 엘픽 ', '판교 데이빗앤룰스', '레스토랑 아진', '압구정 따띠따띠', '블루메쯔블루메쯔', '푸에고', '휴135', '더젤', '더젤', '압구정 카츠바이콘반', '헤키', '최강금돈까스', '오산 청도생고기', '충주 불광식당', '연리지가든', '소우리소우리정육식당', '빠박이생고기', '포항 죽도숯불간받이', '대촌대촌', '월산식육식당', '정선 백운식당', '의정부 먹심 생고기 ', '이천 최대포소금구이그럼 다 담아야지!', '일산 워낭소리정육점식당', '진진바리횟집', '나리의 집', '나들목식당', '산수갑산', '필동해물', '선미네마트', '송옥', '광화문미진', '지우정', '냐옹지마', '일등식당', '진주회관', '중림장설렁탕', '삼거리먼지막순대국', '(쿠키영상) 순흥옥', '충무로쭈꾸미불고기', '전주식당', '포석정', '허심탄회', '애성회관 한우곰탕', '조개도', '중림동 물고기', '송가', '용마해장국', '순흥옥', '서촌계단집', '스시카야논데', '우일식당', '서래이모네', '바다회포차', '스담', '스시지현', '계절식당', '훼미리손칼국수보쌈', '순대국집', '사심스키야키', '충무칼국수', '목포식당', '안주나라', '철수네 해산물 먹거리 장터', '상도실내포장마차', '동강해물찜', '알래스카에서 온 연어가 맛있는 집', '강동원', '호남식당', '이신돈해물삼합', '벼락가우리', '화목순대국', '산불등심', '형제심야식당', '청수횟집', '돈뼈락 연탄갈비', '남도보쌈파전', '한국횟집', '옛맛서울불고기', '다사랑스테이크', '대한옥', '야마토텐동', '안동반점', '돈불1971', '곰배령이야기', '마포쭈꾸미', '서울갈비', '김수사', '종로찌개마을', '토상막회', '원조수구레', '우리슈퍼', '황주집', '등갈비의신화', '세꼬시', '세종한우', '행운동조개', '원조나주곰탕', '부일숯불갈비', '장군굴보쌈', '서산꽃게', '막내횟집', '부여식품', '장군 뽈따구 숯불구이', '인생횟집', '영덕물회막회', '기절초풍왕순대', '청해', '고기선수촌', '양군스시&참치', '새맛식당', '황소막창 ', '중국소흘 ', '남영돈', '역삼동 북어집', '오징어참치', '일번지', '대하식당', '야키토리묵', '만물슈퍼', '강경수참치', '남한강민물매운탕', '고흥아줌매', '마포감자국', '바다회사랑 1호점', '고가길 9공탄', '원조 성내볼데기집', '맥반석 조개구이', '울돌목 주먹고기', '태양수산', '영화장', '신풍루 곱창구이', '서울식당', '중앙참치전문', '풍년집', '여수집', '부일갈매기', '소야일식', '골목집', '이문동그집', '흑산도 소라', '즐거운술상', '연스시', '연길반점', '꼬랑치킨', '청송산오징어', '만냥하우스', '이치젠 용산점 (2호점)', '대원식당', '신동궁감자탕 역삼본점', '지연슈퍼', '우정초밥', '영광보쌈', '아저씨네낙지찜', '맛있는 삼겹살', '골목집', '은성회집', '후니도니', '나드리식품', '정통집', '모락모락', '백제정육점', '사가루가스', '한길포장마차', '한도삼겹살', '이경문순대곱창', '우리바다수산', '서울돼지구이', '김천재의육회반한연어 신논현본점', '카이센동 우니도', '도슬박', '하늘초밥', '전라상회', '슌락', '고래불', '현대생선구이', '삼미식당 롯데백화점본점', '고흥선어회맛집', '코함치에', '스시도우', '무모한초밥 시청점', 'salvij(뿐또블루)', '보노보노 삼성점', '송하정스시', '키누카누 본점(발산점)', '스시도우', '무모한초밥 시청점', 'salvij(뿐또블루)', '송하정스시', '스시복', '대사시미', '마이코 신세계 백화점 강남점', '여의도 쿠마', '초밥아저씨', '이한진숙성회(뭉텅횟집)', '오복수산 한남카페거리점', '프로간장게장 본점', '냠냠물고기 루프탑라운지', '남해바다마차', '진미식당', '금자네회포장', "스시코리아(네이버엔 '하계 스시선'이라고 적어야 나옴)", '크랩52', '도림항', '혼맛스시', '오츠쿠리', '식도원', '바이킹스워프 롯데월드몰점(잠실점)', '스시상점', '스시도우', '연어상회 신촌점', '아루히 니와', '스시지현', '냐옹지마', "동해횟집('신촌 동해횟집'이라 검색하면 나옴)", '백령도횟집', '올바른 숙성회', '숙성회장', '진호횟집', '타로야', '마구로동우니도', '요란한부엌', '더형제', '이츠동', '난바다', '갓덴스시 롯데월드몰점', '수왕초장집 구로점', '전라도 횟집', '미소네', '해적창고', '양심소', '풍성원', '영화루', '영화루중화분식수원만두', '코리안손짜장동천홍뽕누리', '도원판다웍리153', '동천홍', '상해루', '쌍흥원', '츠바오', '송일정 수타전문', '초마', '리153', '명장', '홍경원', '국제반점', '대하수산외식공간', '무탄', '교동짬뽕', 'PANDA WOK', '코리안손짜장', '김치찌개 수타짜장 천천맛집', '객찬', '의천각', '중화분식', '진미각', '도원', '영빈루', '홍태루', '안동장', '오구반점', '신길동 매운짬뽕', '브로한', '화룡각', '중화요리홍장군', '중화요리 홍장군', '수원만두', '화붐신간짬뽕', '복무춘', '신짬뽕', '무한자금성', '장강', '백가원짬뽕', '이가원', '뽕누리', '웍하이', '도깨비반점', '부원', '챔피언돌판짜장', '교동짬뽕', '오누이손칼국수', '짜장집2900', '짜장집 2900', '권선생', '풍광쟈창챠이경기 안산시 단원구 예술대학로 17 중앙노블레스 3층 308호', '1945짬뽕', '쌍용각', '국제반점', '교동짬뽕 1986 금곡점', '중화짬뽕빵', '오대짬뽕', '옥류관', '덕취원', '짬뽕깡패 꼬짬', '벌터', '왕가동해장', '넘버1고기짬뽕', '짜마차이나', '짜마차이나', '미소짬뽕', '하오츠', '교동짬뽕 봉담점', '화붐신간짬뽕', '화붐신간짬뽕', '당수원가마솥순대국', '신짬뽕', '옛날짜장짬뽕', '24시수타신짬뽕', '옥선당', '이상적', '동천홍', '만금성', '황궁짬뽕점문점', '웨이닝', '신짬뽕', '화룡각', '사창반점', '신짬뽕', '짬뽕지존', '더 차이니즈', '예빈', '하오츠', '황금성', '웍하이', '왕가동해장', '쉐프가수 최영현의 취팔러마', '쉐프가수 최영현의 취팔러마', '송죽장', '풍광쟈창챠이', '방이뚝배기', '하남 스타필드', '라비옥', '로리스 더 프라임 립', '고망고 대흥역점', '밀토스트', '램랜드', '양키통닭 본점', '스텔라떡볶이 경기부천중동점', '토속촌 삼계탕', '감나무집 기사식당', '올디스타코', '마담밍', '신세계백화점 강남점', '옥정', '원조 쯔왕돈까스', '경리단길 꽈배기', '군만두의 달인', '캔모아 부평문화의거리점', '오목골즉석메밀우동', '시멘트', '철길떡볶이', '소나무집', '운봉산장', '대성집', '구삼부대찌개', '수레실가든', '풀리김밥', '산동만두', '우우', '간판없는 김치찌개집', '논밭골', '떡붕', '정정', '만수옥', '심퍼티쿠시 용산점', '노량진수제비', '세스크멘슬', '사랑방칼국수', '또순이네', '고든램지스트리트피자', '안녕쿠마', '안암', '파오파오', '텍사스 데 브라질', '기계우동', '일미간장게장', '그늘', '연해장', '남산돈까스전문점', '김진순 남양껍데기', '보르고한남', '샤브로21', '라도맨션 골드', '노스트레스버거', '야키토리 묵 신사', '풍년상회쪽갈비', '만나분식', '행복식당', '유키오 한남', '진주회관', '문화시민 서울', '두레유', '벽돌해피푸드 압구정점', '구석집', '친목', '핫쵸', '썬더버드 청담', '해운대 가야밀면민락어패류시장호랑이젤라떡밀양순대돼지국밥 깡통시장 모루비', '함포해장', '쮸즈', '아차산 신토불이떡볶이 본점', '페코리노', '금돼지식당', '모던샤브하우스 센트럴시티점', '콘피에르', '뇨끼바', '화양연화', '고든램지 버거', '마루심 본점', '메종파이프그라운드', '대삼식당', '목멱산방', '소와나', '미국식', '얼큰수제비해물칼국수', '안암', '반미프엉', '24시뼈다귀감자탕', '무교동북어국집', '별미볶음점', '초원', '영동설렁탕', '스시코우지', '송옥', '연희동 할머니네', '더보일러스', '전농동 만나떡볶이', '서울대역전집', '이터널선샤인', '원래순교자관', '88갈비', '누데이크', '500원 부침개', '차일디쉬', '롯데월드 어드벤쳐', '전국 설빙', '이삭토스트', '이재모피자', '하륜무쇠집', '남원통닭', '미니히노코', '뱃고동', '올레시장 미미탕후루', '전국 맥도날드', '오떡 24시', '산골', '카페 몬지', '민지네분식짱', '육미안', '선다래분식', '돌담애', '제니탕후루', '마유유 더현대점', '파란하늘', '재구네닭발', '하마보', '휴즐리', '비비당', '전국 치킨플러스에서 주문가능', '바다수산', '진경순대', '을지로 빠우', '전국 두찜', '처가집', '으뜸만두', '다몽집', '솔다방', '동대문 할아버지크레페', '순살만공격', '온라인 마트', '웨스턴돔 오빠네옛날떡볶이', '혜화 해피니스', '문래동 문래방아', '압구정 공주떡', '할머니 토스트', '참만두', '경춘자의 라면이땡기는날', ': 서울 마포구 동교로 240 1층', ': 체인점이에요!', ': 서울 성동구 성덕정15길 4-8', ':', '일루한식뷔페', '웰빙마차', '가합만두뷔페', '광장시장호일라면', '용산맛집', '장군보쌈(용산)', '용산보쌈', '만나만두', '대충만두', '금문장', '라면맛집', '문래동태양슈퍼', '천호동맛집', '쌍둥이네포차', '쌍둥이네포장마차', '시골집', '뚝도시장시골집', '성수동뚝도시장', '세꼬시', '성내동세꼬시', '길동세꼬시', '을지로맛집', '을지로한우', '아재비구이', '경복궁맛집', '원창식당', '서촌맛집', '효창공원윤여사라면', '라면전문점', '효창공원라면', '연신내맛집', '연신내목노집', '도봉구맛집', '포천숯불갈비', '마포공덕맛집', '원조마포껍데기', '경동시장전주비빔밥', '경동시장맛집', '종로신진시장맛집', '종로등심', 'ramyeon', '골뱅이', '익선동포차', '명동교자', '서울칼국수', '고기로와', '백사마을삼거리식당', '삼거리식당', '을지로노포', '우화식당', '낙원시장맛집', '88낙원순대', '유령식당', '청량리수산시장', '물갈비', '광장시장라면', '누드김밥', '남대문시장맛집', '남대문삼겹살', '명동서서갈비', '을지로꼬리찜', '순흥옥', '을지로노포', '태백산생고기', '연신내한우', '연신내맛집', '장수돼지갈비', '생갈비무한리필', '우남식당', '노량진참치', '우오가시', '을지로횟집', '할아버지손두부', '낙원동옥이네', '서울민어회', '경복궁역맛집', '신안촌(경복궁역)', '서울송정역닭도리탕', '복순이민속촌', '승무원맛집', '덕원(영등포)', '영등포맛집', '명가오리숯불구이', '수락산맛집', '복민횟집', '충무로영덕회식당', '한우곱창', '세운상가리어카순대', '서울돼지갈비', '송도횟집', '상추(퓨전민속주점', '둔촌시장횟집', '성내동상추', '인성돼지갈비', '인성돼지갈비(껍데기)', '갈비탕맛집', '간판없는갈비탕', '천진교자', '강남만두맛집', '독산동우시장', '동화식당(남대문)', '남대문시장갈치골목', '남대문맛집베스트', '남대문시장맛집', '광장시장맛집', '연탄구이', '원조소금구이', '청량리맛집', '참참참쭈꾸미', '신림동백반보쌈', '전주식당(신림동)', '신림동전주식당', '목동호떡', '서울맛집', '서울개화산장', '서울맛집', '길풍식당', '영등포맛집', '서울꼬리찜맛집', '종로보쌈골목', '종로3가', '서울굴보쌈', '용마갈비', '망우동맛집', '영등포시장포장마차', '포방터시장맛집', '어르신들의성지', '삼청동라땡', '삼청동맛집', '경춘자의라면땡기는날', '닭발파이터', '무뼈닭발', '상계동닭갈비', '원조닭갈비', '이갈비', '을지로맛집', '을지로보쌈', '골목식당(을지로)', '마포소금구이(암사동)', '암사동마포소금구이', '소곱창', '화곡동동글갈비', '서울돼지갈비맛집', '통골뱅이탕', '용산맛집', '용산부대찌개스테이크', '이름없는포차', '마돈나포차(충무로)', '충무로맛집', '안주마을(서촌)', '경복궁역맛집', '서촌맛집', '을지로맛집', '을삼골뱅이', '을지로골뱅이골목', '산골막국수(산골면옥)', '땡땡거리형제옥', '서대문맛집', '서울설렁탕', 'YummyKimchi', '간판없는', '간판없는김치찌개', '진진바리횟집', '서울초밥', '필동해물', '신촌닭꼬치', '낙원상가맛집', '낙원시장김바보', '산더미갈비탕', '산더미무국', '옛맛서울불고기', '평창동맛집', '평창동절벽', '골목집(용산', '항아리식당', '강남백반집', '청량리시장맛집', '청량리참새방앗간', '영등포맛집', '영등포횟집', '서울납작만두', '불광역제일시장맛집', '납작만두원조', '참새구이', '세월마차', '낙산냉면', '서울냉면맛집', '서울매운냉면', '연희동야식포차', '청량리시장통닭', '청량리동경통닭', '막내회센타', '동대문연탄갈비', '경동시장연탄갈비', '경동연탄불돼지갈비', '종로맛집', '일번지(종로6가)', '종로중식포차', '완도산광어', '목동대포항횟집', '대민족', '서울족발맛집', '수유시장맛집', '갑오징어', '아나고', '포장,먹기', '보광동정육식당', '대성정육식당(보광동)', '보광도고깃집', '엄마손맛꼬리곰탕', '화목순대국', '여의도화목순대국', '여의도맛집', '두명식품', '신원시장맛집', '신원시장전집', '을지로맛집', '성창식당', '중랑구맛집', '풍년집', '안동한우마을(서울', '홍대안동한우마을', '홍대한우맛집', '춘천식당(용산)', '최불암과최자', '옥정네다방', '상봉해물', '상봉해물(봉천제일시장)', '탄다타(둔촌역전통시장내)', '탄다타', '둔촌역전통시장', '강호동순대국', '백련시장순대국', '기쁨이네(백련시장)', '전라도횟집', '광장시장횟집', '광장시장맛집', '청량리남원통닭', '창동닭한마리', '충남수산/충남약초', '청량리시장장어', '경동시장장어', '우리실내포차', '대방동의성식당', '대방동묵집', '독산동순대국', '서울순대국맛집', '실비순대국', '솥뚜껑삼겹살', '가양동제일식당', '용산까치네', '냉동삼겹살', '계림', '종로계림', '서울닭도리탕맛집', '영등포중앙참치', '길거리우동', '산더미육회', '동대문맛집', '동대문최자해장국', '대화정진짜해장국', '낙원동호반', '우설', '서산강굴', '산더미뼈해장국', '경복궁역할매집', '할매집', '즉석우동짜장', '서울토스트맛집', '광장시장토스트', '용마쉼터', '삼천리골돼지집', '서울계곡맛집', '당일치기서울계곡', '진관사계곡', '남산기사식당', '이름없는기사식당(남산)', '남산맛집', '청량리제기식당', '청량리냄비밥', '청량리시장맛집', '광주식당(청량리시장', '충정로밀양돼지국밥', '서울돼지국밥', '산불등심', '즉석우동', '옛날짜장', '5천원백반', '을지로맛집', '을지로쭈꾸미', '마포쭈꾸미(을지로)', '명동맛집', '할머니집(명동)', '명동삼겹살', '엉터리통닭', '광장시장칼국수', '광장시장', '광장시장맛집', '영등포연탄카세', '영등포시장포차', '신길동신토불이', '영등포맛집', '신토불이', '신원시장맛집', '진미웰빙반찬', '서울도가니탕', '대성집', '독립문대성집', '서초기사식당', '강남기사식당', '대흥각', '서울소고기맛집', '서울장안동맛집', '우일식당', '호수집(서울역)', '서울역호수집', '서울닭꼬치', '을지오뎅', '우정회집', '공덕오향족발', '공덕동족발골목', '오향족발', '신길동짜면밥', '신길동즉석우동짜장', '털보기사식당', '신길동홍어거리', '영등포맛집', '할매홍어집', '용산맛집', '원효콩나물해장국', '용산해장국', '남대문평양냉면', '부원면옥', '남대문부원면옥', '송화시장물갈비', '송화시장경상도집', '경상도집(송화벽화시장)', '창동맛집', '홍어삼합', '옥이네집(창동)', '경복궁역맛집', '대하식당(서촌)', '서촌맛집', '수유맛집', '당나귀집(수유)', '영등포시장라면', '할머니라면', '서초동맛집', '태양화로', '교대역맛집', '닭칼원조집', '중림동닭한마리', '감자채부침개', '연남동맛집', '현주네식당', '연남동할머니백반', '방산시장한우', '대성집', '방산시장맛집', '양평동소곱창', '양평동맛집', '황소곱창구이', '할머니라면', '간판없는분식집', '영등포진희식당', '영등포맛집', '영등포대문점', '서울해장국', '할머니해장국(장위동/번동)', '할머니해장국', '문래동불낙지', '매일낙지', '문래동매일낙지', '숯불왕갈비', '돼지갈비맛집', '서울돼지갈비', '청량리시장통닭', '종구네통닭', '순라길홍어', '순라길', '서울홍어맛집', '청량리맛집', '청량리시장맛집', '골목포차', '이화국시', '천원의행복', '인천맛집', '인천횟집', '전주슈퍼', '홍제동라면', '개미마을라면', '성시경냉면', '진영면옥', '방산분식', '명동집(서울역)', '서울삼겹살맛집', '서울역명동집', '성내동횟집', '청조다도해수산', '청량리맛집', '골목포차', '청량리이모카세', '안경할머니곱창', '대동원회시장', '마포다락', '미진(광화문)', '광화문메밀국수', '용산치킨', '뽀빠이치킨(용산)', '흑산도홍어', '노원구맛집', '광운대곱창', '진미곱창', '종로찬양집', '찬양집(칼국수)', '종로칼국수', '영천시장맛집', '독립문맛집', '여의도부대찌개', '희정식당', '여의도희정식당', '필동분식', '충무로맛집', '멍석집', '익선동갈매기살', '낙원동익선동맛집', '그섬에가고싶다', '다전식당', '세운상가루프탑', '세운상가삼겹살', '노량진참치', '충남미림', '노량진수산시장참치', '광장시장칼국수', '서글렁탕(여의도)', '동해반점', '영등포동해반점', '영등포중식당맛집', '동대문짜장면', '평양면옥', '서울평양냉면', '오류동평양면옥', '고성막국수', '청량리아귀회', '청량리맛집', '명동맛집', '미성옥', '명동미성옥', '할머니햄버거', '전주슈퍼', '홍제동라면', '개미마을라면', '영화루(서촌)', '청와대맛집', '영화루', '북성해장국', '아현동해장국', '남대문시장맛집', '화곡동선지해장국', '까치산역맛집', '강동구맛집', '개성김치손만두', '홍제동군산집', '홍제동맛집', '칠성산소금구이', '을지로맛집', '을지로노포', '호반집', '대추나무칼국수', '문래동칼국수', '세운상가맛집', '소윤네(세운상가)', '닭볶음탕', '억조(복어)', '종로복어맛집', '종가집식당(영등포)', '서씨네해장국', '마포맛집', '서울해장국맛집', '서울5천원백반', '가마솥선지해장국', '서울백반맛집', '종로신진시장', '종로곱창', '대전곱창', '소랑도(서울)', '서울삼치회', '중곡동소랑도', '인사동맛집', '인사동수제비', '충무로인현시장', '충무로맛집', '망원시장수제버거', '망원시장맛집', '원조녹두', '700원호떡', '쑥호떡', '도원장', '응암동중식당', '서울짜장면맛집', '종점떡볶이', '신당동떡볶이닭발', '신당동맛집', '공중부양갈비', '정대포', '과일자르기달인', '성대시장맛집', '성대순대촌', '서울순대곱창', '어가초밥', '은평구횟집', '주유소식당', '남대문맛집', '대도식당(남대문)', '붉바리회뜨기', '서울횟집맛집', '바다회향기', '강동구맛집', '탄다타', '둔촌시장고기집', '냉삼맛집', '을지로문경식당', '을지로냉삼', 'Gambas', '지하식당', '감바스', '중부시장맛집', '서울김치찌개맛집', '광화문김치찌개', '광화문집', '가맥집', '삼각지맛집', '용산맛집', '삼일포순이집', '통인시장맛집', '통인시장계란말이', '계란말이달인', '마당쇠치킨', '돼지굽는연탄할매', '상도동맛집', '장승배기맛집', '마포간짜장', '마포맛집', '신성각', '양곱창', '50년노포', '용산맛집', '평양집', '이조보쌈', '당산역맛집', '당산역보쌈', '홍제동대구탕', '인왕시장대구탕', '원일대구탕', '종로빈대떡', '용산맛집', '용산삼겹살', '춘천식당', '한강즉석라면', '충무로쭈꾸미불고기', '충무로쭈꾸미', '4천원통닭', '한국통닭(연신내점)', '서울치킨통닭', '광장시장누드김밥', '서울냉면맛집', '을밀대', '서울평양냉면', '경복궁맛집', '계단집', '서촌맛집', '엄마김밥', '즉석우동', '옛날짜장', '홍제동맛집', '인왕시장칼국수', '영동시장예삐네집', '강남영동시장맛집', '예삐네집(강남', '남대문칼국수', '크리스탈', '영등포맛집', '부여집(영등포)', '방치찜', '용산즉석우동짜장', '효창동짜장우동', '효창동즉석우동짜장', '을지로맛집', '창조식품', '을지로가맥집', '서대문맛집', '남가좌동미소그릴', '미소그릴', '아리수만찬', '간판없는식당', '토스트맛집', '할매집', '은평구맛집', '응암동대림시장맛집', '서울응암동대림시장', '서울순대', '서울순대맛집', '서울유니짜장', '도봉구맛집', '수정각', '전어회', '깡통포차', '석계역토스트', '문래동슈퍼', '창대냉면', '광장시장', '광장시장맛집', '광장시장대구탕', '용산찬소세지', '소제지전문점', '용산맛집', '봉산집', '삼각지맛집', '목포식당(서울연신내)', '연신내목포식당', '서울연신내맛집', '방산시장대성집', '대성집(대성식당)', '오징어회뜨기', '대방어', '회뜨기', '영등포꼬리찜', '영등포맛집', '대한옥', '광장시장꽈배기', '광장시장맛집', '도봉산맛집', '도봉산통닭', '북한산갈매기살', '북한산인수재', '개미마을전주슈퍼', '전주슈퍼', '개미마을라면', '남대문토스트', '돼지꿈냄비찜', '충무로LA갈비', '충무로맛집', '서울해장국', '어머니대성집', '오이소박이국수', '원동미나리삼겹살', '미나리삼겹살', '서울공주칼국수', '공주칼국수', '서울칼국수맛집', '최가네황소곱창', '종로소곱창', '용산맛집', '용산3대해장국', '한성옥', '서울포장마차', '누나포장마차(서울영등포)', '영등포맛집', '사랑방칼국수', '충무로칼국수', '충무로맛집', '회기역할머니토스트', '문래동맛집', '영일분식', '문래동칼국수', '백년약수골', '서울산속식당', '광장시장김떡순', '광장시장', '광장시장맛집', '마포성우서서갈비', '마포갈비', '성우서서갈비', '진주회관', '서울명동맛집', '남대문맛집', '대박물갈비', '서울노포식당', '한성대맛집', '상주집감자탕', '낙원동맛집', '유진식당', '낙원동평양냉면', '남도식당(정동집', '덕수궁남도식당', '덕수궁추어탕', '충남상회', '노량진맛집', '노량진수산시장', '광장시장육회', '반포한강라면', '반포한강공원', '반포한강공원라면', '원남동청솔', '영등포시장포차', '영등포시장7번집', '남대문핫바', '인사동맛집', '인사동솥밥', '온따뜻한솥밥', '명동맛집', '명동틈새라면', '틈새라면(명동본점)', '용산성희네', '성희네여수장어탕(용산)', '용산장어탕', '용산맛집', '용산감자탕', '일미집', '정(숙대입구', '용산숙대맛집', '숙대정', '고향칼국수(광장시장)', '광장시장칼국수', '광장시장맛집', '남대문안경호떡', '대관원', '영등포중국집', '영등포맛집', '이태원호떡', '서울평양냉면', '서북면옥', '동대문크레페', '동묘시장고기튀김', '동묘시장맛집', '원조고기튀김', '동대문맛집', '계란빵달인', '미스터버거', '서울곱창맛집', '충무로곱창', '충무곱창', '신명먹거리(성수동)', '성수동백반', '성수동신명먹거리', '서울중화비빔밥', '개화중식', '마포중화비빔밥', '서울시청맛집', '서울삼계탕맛집', '고려삼계탕', '창신동매운족발', 'Okcheon', '옥천매운족발', '서울족발맛집', '서울토스트', '동묘시장토스트', '흑미수수호떡', '경성밥상', '전주야시장', '전주왱이콩나물국밥', '다가양조장', '전주한옥마을', '늘봄숯불갈비', '왕푸징만두', '솔찬공원', '제주한라불갈비소시지', '계양산전통시장', '양정낙곱새', '담쟁이추억', '따뜻한밥상', '왕래성', '스시선', '메밀도깨비', '태원잔치국수', '작은식당우', '노량진컵밥거리', '피자주택용연', '삶천식당', '리더PC방', '오달통분식', '프로방스', '경아식당', '이게진짜닭꼬치', '새참분식', '실비타운', '금성회관 합정본점', '뚝방슈퍼', '조명탄', '늘봄숯불갈비', '차타임', '스시노칸도', '김밥천국 검단신도시점', '모래내시장', '최고남의 두손만두', '성대생우동짜장', '사쿠라스시', '프롬쿠키', '족발신선생', '황금곱창', '쩜오각', '망원시장', '홍두깨칼국수', '아이스회수산', '신풍루곱창구이', '진수성찬한식뷔페', '깡우동', '초밥식당호시절', '영종도왕새우칼국수', '딜리셔스 하우스', '형제닭꼬치', '삼산회관', '신야텐야', '쓰리팝 pc방', '옛집식당', '리안', '미가차이나', '범맥주', '미성당납작만두', '무청감자탕', '돈가스튀기는오빠', '칠곡휴게소', '황해도만두전골', '인쌩맥주', '신정희춘천숯불닭갈비', '고반식당', '박촌갈비', '내고향국수집', '장수손만두', '모모라면', '메밀꽃필무렵', '라화방', '오레노카츠', '송주불냉면', '황금곱창', '오목골즉석메밀우동', '미락육회막국수', '잇츠초밥', '마마부찌', '밀밭칼국수', '은하장', '북새통', '김밥라면슈퍼', '나인티ver.1 PC CAFE', '예다미어묵', '드림식당', '여월동생고기', '1209닭꼬치', '고봉민김밥', '걸작떡볶이치킨', '모밀지기', '해피치즈스마일', '용감한 대구막창', '백년불고기', '신당동떡볶이', '몽련', '스타에델치킨', '내라면', '타이마실', '삼거리부대찌개', '곰이네낙지와칼국수&팥죽', '오오카미스시', '꽃부리식탁', '일미정', '정가네촌감자탕', '서면밀면', '부평깡통야시장', '원조부안집', '치킨홀릭', '옥당분식', '보배반점 인천도화점', '가미스시', '아이맛이야장작철판구이', '팔도 장똘뱅이 대신점', '신길동매운짬뽕', '숯불과 딤치 김치찌개', '맷돌칼국수', '도원', '멕스칸즉석햄버거', '예가족발']

### restaurant_video_df

In [13]:
from modules.gbqModules import InputTable
from modules.generateModules import GenerateRestaurantVideoTable as grvt
import pandas as pd

video_id_restaurant_list
restaurant_in_video_list
data={'link_id': None, 'video_id': video_id_restaurant_list, 'restaurant_name':restaurant_in_video_list}
restaurant_video_df=pd.DataFrame(data)

#restaurant_video_df = grvt.get_restaurant_video_df(video_id_restaurant_list,restaurant_in_video_list)

table_name='restaurant_video'
input_df=restaurant_video_df
if(start_channel_index==0):
    is_replace=1;
else:
    is_replace=0;   
InputTable.input_table(table_name,input_df,is_replace)

100%|██████████| 1/1 [00:00<?, ?it/s]

append ok

### resturants_df

In [14]:
from modules.generateModules import GenerateResturantsTable as grt

grt.generate_restaurants_df(restaurant_in_video_list)
restaurants_df=grt.return_restaurants_df()
restaurant_category_df=grt.return_restaurant_category_df()

c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list
c:\Users\q5749\youtube_api_practice\modules\generateModules\GenerateResturantsTable.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  restaurants_df.loc[len(restaurants_df)]=input_list

In [15]:
restaurants_df

,restaurant_name,address,location_x,location_y,place_url
0,고망고 대흥역점,서울 마포구 염리동 148-8,126.946214,37.546304,http://place.map.kakao.com/1109232417
1,진아분식,서울 동대문구 답십리동 488-59,127.057436,37.567345,http://place.map.kakao.com/1379135302
2,함포해장,서울 서초구 방배동 985-2,126.999384,37.481240,http://place.map.kakao.com/1108903832
3,원조국수집,경기 고양시 덕양구 행주내동 138-3,126.827576,37.601623,http://place.map.kakao.com/11539201
4,낙원동옥이네,서울 종로구 낙원동 290-1,126.988052,37.572022,http://place.map.kakao.com/1942008353
...,...,...,...,...,...
1445,발산한우진곱창,서울 강서구 마곡동 793-9,126.838447,37.561037,http://place.map.kakao.com/198593457
1446,나드리식품,서울 중구 주교동 208,126.998529,37.567376,http://place.map.kakao.com/491953707
1447,노량진수산시장참치,서울 동작구 노량진동 72-16,126.942432,37.513327,http://place.map.kakao.com/25985526
1448,엉터리통닭,서울 용산구 이태원동 225-154,126.990767,37.539635,http://place.map.kakao.com/12738900
1449,으뜸만두,경기 동두천시 생연동 609-20,127.053553,37.907508,http://place.map.kakao.com/16636084

In [16]:
from modules.gbqModules import InputTable

table_name='restaurants'
input_df=restaurants_df
if(start_channel_index==0):
    is_replace=1;
else:
    is_replace=0;   
#2023-11-4 첫 restaurants 테이블 적재완료 이후 append로 적재해야함
InputTable.input_table(table_name,input_df,is_replace)

100%|██████████| 1/1 [00:00<?, ?it/s]

append ok

### restaurant_category_df

In [17]:
df=restaurant_category_df
df

     restaurant_name                  category
0           고망고 대흥역점         음식점 > 카페 > 생과일전문점
1               진아분식                  음식점 > 분식
2               함포해장            음식점 > 한식 > 해장국
3             원조국수집              음식점 > 한식 > 국수
4             낙원동옥이네        음식점 > 술집 > 호프,요리주점
...              ...                       ...
1445         발산한우진곱창  음식점 > 한식 > 육류,고기 > 곱창,막창
1446           나드리식품                  음식점 > 한식
1447       노량진수산시장참치            음식점 > 일식 > 참치회
1448           엉터리통닭                  음식점 > 치킨
1449            으뜸만두                  음식점 > 분식

[1450 rows x 2 columns]

In [18]:

# "category" 열을 " > "를 기준으로 분할하여 새로운 행 생성
df['category'] = df['category'].str.split(' > ')
df = df.explode('category').reset_index(drop=True)
df
data={'link_id': None, 'restaurant_name':list(df['restaurant_name']),'category':list(df['category'])}
newdf=pd.DataFrame(data);
newdf

     link_id restaurant_name category
0       None        고망고 대흥역점      음식점
1       None        고망고 대흥역점       카페
2       None        고망고 대흥역점   생과일전문점
3       None            진아분식      음식점
4       None            진아분식       분식
...      ...             ...      ...
4063    None       노량진수산시장참치      참치회
4064    None           엉터리통닭      음식점
4065    None           엉터리통닭       치킨
4066    None            으뜸만두      음식점
4067    None            으뜸만두       분식

[4068 rows x 3 columns]

In [19]:
from modules.gbqModules import InputTable

table_name='restaurant_category'
input_df=newdf
if(start_channel_index==0):
    is_replace=1;
else:
    is_replace=0;   

InputTable.input_table(table_name,input_df,is_replace)

100%|██████████| 1/1 [00:00<?, ?it/s]

append ok

# 2023-11-06모든 플레이리스트에 대해서 식당, 비디오 관련 테이블 적재 완료